body{
    padding: 50px 100px;
    background-color: #1abc9c;
}
h1{
    text-align: center;
}
#container{
    text-align: center;
    background-color: #1abc9c;
    padding: 50px;
}
.input-div{
    display: inline-block;
}
.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
label{
    font-size: 35px;
}
.img{
    height: 300px;
    width: 800px;
    background-image: url("images.png");
    background-size: cover;
    margin-left: 170px;
    padding-top: 0px;
}